.text-justify {
    text-align: left !important;
}

.card-body {
    text-align: left;
}

.home .background {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-attachment: fixed;
    background-position: center;
    transform: scale(1.1);
    filter: brightness(0.66);
    background-size: cover;
}

.home img {
    width: 148px;
    height: 148px;
    object-fit: cover;
}